*{
  padding: 0;
  margin: 0;
  
}
a{
  text-decoration: none;
  color:white ;
}
a:hover{
  color: grey;
}
ul {
  list-style: none;
}
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

.marca{
  font-family: 'Comforter Brush', cursive;
  font-size: 1.5rem;
}

.hero {
    height: 100vh;
    background-image: url(../img/arriba.jpg);
    background-position: center center;
    background-size: cover;
    transition: background-position .3s ease;
  }

  .menudesplegable{
    background-color: transparent;
  }

  .navegacion{
    position: absolute;
    z-index: 1;
  }
  

  .navbar-toggler{
    border: none;
  }

  /*Carrito*/
  .carrito-btn{
    display: flex;

  }
  .contador  {
    color: #000;
    border-radius: 50%;
    background-color: #fff;
    padding: .2rem;
    height: 0.2em;
    height: 1.5rem
;
    
  }




@media (min-width: 720px) {
  .nav-item ul li {
    display: inline-block;
    margin-left: 3rem;
    font-size: 1.5rem;
    margin-top: 4rem;
  }
  

}

@media (min-width: 960px){
  .nav-item ul li {
    display: inline-block;
    margin-left: 3rem;
    font-size: 2rem;
    margin-top: 5rem;
  }
  .carrito-btn{
    padding-right: 2rem;
  }
}



.contenedor {
  margin: 0 auto;
}


/*Seccion hacer*/

.hacer{
  padding: 8rem 0;
}

.contenedor-cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
}
.premium {
  background-image: url(../img/animal.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35rem;
  grid-template-columns: unset;
}
@media (min-width:768px) {
  .premium {
      grid-template-columns: auto 30%;
  }
}

.premium .info {
  color: azure;
  text-align: center;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.premium .info h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.boton {
  background-color: var(--claro);
  display: block;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  color: var(--obscuro);
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 400;
  -webkit-box-shadow: 0px 14px 43px -21px rgba(0,0,0,1);
  -moz-box-shadow: 0px 14px 43px -21px rgba(0,0,0,1);
  box-shadow: 0px 14px 43px -21px rgba(0,0,0,1);
  transition: all .3s ease-in-out;
}
.boton:hover {
  background-color: var(--primario);
  color: var(--claro);
}


.navbar-light .navbar-cart {
  color: rgba(0,0,0,.55);
  border-color: rgba(0,0,0,.1);
}
.navbar-cart {
  padding: 0.25rem, 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  transition: box-shadow .15s ease-in-out;
}

.btn-footer{
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: none;
  padding: 0.375rem, 0.75rem;
  font-size: 1rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.productos{
  margin: 2rem;
  display: flex;
}

.publicidad {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: nowrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  margin: .5rem;
}
@media (min-width:768px) { 
  .premium .info {
      grid-column: 2 / 3;
  }    
  .premium .info h2 {
      text-align: right;
  }
  
}
